# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.RData

.Rproj.user/
.Rproj.user
RSlick.Rproj

# SBT
boot/
lib_managed/
src_managed/
test-output/
target/
.history

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/

# Mac
.DS_Store

# Other
*.pyc
java/lib/h2-1.4.182.jar
java/lib/mysql-connector-java-5.1.12.jar
tmp/
